

h1 {
    text-align: center;
    text-shadow: 1em;
    color: white;

}

.publishedWork {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5%;
    margin-right: 5%;
    color: white;
}


.wrapper {
    columns: 2;
    justify-content: center;
}

.aMain {
    align-content: center;
    justify-content: center;
    box-align: center;
    column-count: auto;
    border-style: solid;
    border-color: black;
    display: flex;
    color: black;
    margin-top: 1%;

}

aside {
    flex: 1;
    margin: 1em;
    flex-wrap: nowrap;
    color: white;
}


.collaboration {
    flex: 1;
    border-style: solid;
    border-color:black;
    flex-wrap: nowrap;
    color: white;
} 
.awardslist {
    list-style-type: disc;
    list-style-position: inside;
}

.sublist {
    list-style-position: inside;
    text-indent: 10%;
}

.collaborationList {
    list-style-type: disc;
    list-style-position: inside;
}

.skillsList {
    list-style-type: disc;
    list-style-position: inside;
}

.skillsTitle {
  color: pink;
}

.collaborationTitle {
    color: pink;
}

.awardsTitle {
    color: pink;
}

.placesLivedTitle {
    color: pink;
}
.publishedTitle {
    color: pink;
    margin-left: 2%;
}

.placeslivedList {
    list-style-type: disc;
    list-style-position: inside;
}

.mainlist {
    color:pink;
}

h5 {
    color:white;
}

.img-hero {
    outline-style: solid;
    outline-color: pink;
    outline-width: 1em;
    justify-content: space-evenly;
}

.publishedWork {
    margin-bottom: 3%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
