

h1 {
    text-align: center;
    text-shadow: 1em;
    color: white;
}

.publishedWork {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5%;
    margin-right: 5%;
    color: white;
}


.wrapper {
    columns: 2;
    justify-content: center;
}

.aMain {
    align-content: center;
    justify-content: center;
    box-align: center;
    column-count: auto;
    display: flex;
    color: black;
    margin-top: 1%;


}

aside {
    flex: 1;
    margin: 1em;
    flex-wrap: nowrap;
    color: white;
}


.collaboration {
    flex: 1;
    border-style: solid;
    border-color:black;
    flex-wrap: nowrap;
    color: white;
    background-color: pink;
    margin-right:20%;
    margin-left:10%;
} 
.awardslist {
    list-style-type: disc;
    list-style-position: inside;
    background-color: pink;
    margin-right: 20%;
    margin-left: 10%;
    padding-left: 2%;
    color: black;

}

.sublist {
    list-style-position: inside;
    text-indent: 10%;
}

.collaborationList {
    list-style-type: disc;
    list-style-position: inside;
    color: black;
    padding-left: 2%;
}

.skillsList {
    list-style-type: disc;
    list-style-position: inside;
    color: black;

}

.skillsTitle {
  color: black;
  background-color: pink;
  margin-left: 2%;
  margin-right: 16%;
  padding-left: 29%;
  padding-top: 2%;
}

.collaborationTitle {
    color: black;
    padding-left: 35%;
    padding-top: 2%;
}

.awardsTitle {
    color: black;
    padding-top: 2%;
}
.placesLived {
    border-style: solid;
    border-color: black;
    padding-top:2%; 
    background-color: pink;
    margin-right:20%;
    margin-left: 10%;
    color: black;
    padding-left: 2%;
    margin-top:130px;
}

.placesLivedTitle {
    color: black;
    padding-left: 18%;
}
.publishedTitle {
    color: pink;
    margin-left: 2%;
}

.placeslivedList {
    list-style-type: disc;
    list-style-position: inside;
}

.mainlist {
    color:black;
    padding-left: 2%;
}

h5 {
    color:white;
}

.img-hero {
    outline-style: solid;
    outline-color: pink;
    outline-width: 1em;
    justify-content: space-evenly;
}

.publishedWork {
    margin-bottom: 3%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.skills {
    margin-left: 10%;
    background-color: pink;
    margin-left: 12%;
    margin-right: 14%;
    padding-left: 2%;
}

.awardsTitle {
    padding-left: 40%;
}

.awardType {
    text-decoration: underline;
}