.flexContainer {
    display: flex;
    justify-content: center;
    align-content: center;
}

body {
    margin: auto;
    text-align: center;
    background-color: white;
    font-family: 'Courier New', Courier, monospace;
}
