.quickFactsSection, .quoteSelection {
    display: flex;
    padding: 10px;
    margin: 10px;
}

.ulQuote {
    list-style-type: none;
    padding: .5em;
}

.flexH1 {
    display: flex;
    text-align: center;
}

.liQuote {
    padding: .5em;
}

.personalH1 {
    text-align: center;
}

.quickFactsDiv {
    display: flex;
    flex-direction: column;
    margin-left: 125px;
    border: solid;
    text-align: center;
}

.quickDiv {
    padding: .5em;
}

.quoteDiv {
    border: solid;
    text-align: center;
    padding: 1em;
}

.flexSection {
    display: flex;
    flex-direction: column;
    
}

.sectionHeader {
    text-align: center;
}
 
.imgDiv {
    display: flex;
    padding: 10px;
    justify-content: center;
    margin: 10px;
}

img{
    width: auto;
    height: auto;
    border: solid 10px;
    border-color: White;
}